<div class="categories">
	<ul>
		{{#each category in categories}}
			<li>
				<button {{action 'selectCategory' category}} class="{{if category.selected "selected"}}">
					{{category.name}}
				</button>
			</li>
		{{/each}}
	</ul>
</div>
